<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cluplist.mapper.UserMapper">

    <select id="selectByUserid" parameterType="string" resultType="com.cluplist.vo.UserVO">
        SELECT id, userid, password, name, role
        FROM users
        WHERE userid = #{userid}
    </select>

</mapper>
